.conteiner {
  width: 592px;
  height: 460px;
  background-color: grey;
  margin-top: 10%;
  // position: relative;

  .small_conteiner {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 20.8%;
    left: 8px;
    transition: 2s;
  }
}
